<nb-card>
  <nb-card-header>
    Usuários
    <!-- <button *ngIf="accessChecker.isGranted('view', 'current-user') | async">Post v async</button> -->
    <!-- <button *ngIf="accessChecker.isGranted('create', 'current-user') | async">Post c async</button> -->
  </nb-card-header>

  <nb-card-body *ngIf="accessChecker.isGranted('create', 'current-user') | async">
    <ng2-smart-table class="example-smart-table" [settings]="settings" [source]="source"
      (edit)="onEditRowSelect($event)" (create)="onCreateRowSelect($event)" (delete)="onDeleteRowSelect($event,dialog)">
    </ng2-smart-table>
  </nb-card-body>

  <nb-card-body *ngIf="accessChecker.isGranted('view', 'user-list-view') | async">
    <ng2-smart-table class="example-smart-table" [settings]="settingsView" [source]="source">
    </ng2-smart-table>
  </nb-card-body>

</nb-card>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Excluir Cliente</nb-card-header>
    <nb-card-body>{{ data.title }}</nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="excluir(data.id); ref.close();" hero>Excluir</button>
      <button nbButton (click)="ref.close();" hero>Cancelar</button>

    </nb-card-footer>
  </nb-card>
</ng-template>